.audio-component {
  .audio-list {
    width: 500px;
    margin: 0 auto;

    ul {
      padding: 0;
      margin: 10px 0;
      list-style: none;

      li {
        margin: 5px 0;
        
        audio {
          width: 400px;
        }
        
        label {
          line-height: 32px;
          height: 32px;
          float: right;
        }
      }
    }

    .audio-add {
      input {
        line-height: 20px;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}
